// Fonts ===================
//Recommended Font Sizes: 8, 16, 24, 32, 48, 64, 95
//Recommended - 3-4 font types total Use 1 font for heading, 1 for subtitle, 1 for body, and 1 for quotes.
//Sans-serif - Generally newer. Modern/younger population
//Serif - More traditional, respectable.  Older/professional population
//1.5 line spacing.
/*Font*/
body, input, select, textarea {
  color: #767d85;
  font-family: 'Oswald', sans-serif;
  font-size: 13pt;
  letter-spacing: 2px;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.5;
}

.heading-typeface{

}

.subtitle-typeface{

}

.body-typeface{

}

.quote-typeface{

}

@media screen and (max-width: 1680px) {

  body, input, select, textarea {
    font-size: 11pt;
  }

}

@media screen and (max-width: 1280px) {

  body, input, select, textarea {
    font-size: 11pt;
  }

}

@media screen and (max-width: 980px) {

  body, input, select, textarea {
    font-size: 12pt;
  }

}

@media screen and (max-width: 736px) {

  body, input, select, textarea {
    font-size: 12pt;
  }

}

@media screen and (max-width: 480px) {

  body, input, select, textarea {
    font-size: 12pt;
  }

}
/*End font*/