@import "variables";
@import "page_reset";
@import "globals";
@import "fonts";
@import "social_media";
@import "footer";
@import "header";
@import "banner";
@import "paragraphs";
@import "modal";
@import "forms";
@import "navbar";

div.md-ink-ripple{
  display: none !important;
}
//Custom for vuematerial menu
.vm-menu-custom{
  width: 100%;
  height: 100%;
  position: absolute;
}
.vm-menu-custom.md-active{
  z-index: 20000;
}

#menuIcon{
  color:black;
}
#menuButton{
  background: none;
}

#side-toolbar{
  display: flex;
  justify-content: center;
  background-color: #1aa681;
}

#side-toolbar-header{
  display: flex;
  justify-content: center;
  background-color: #1aa681;
}

#side-toolbar-text{
  font-size: 1.4em;
  color: white;
}

#infographic-1{
  width:100%;
}
#infographic-2{
  width:100%;
}
.scrollify-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.infographic-100{
  height:100%;
}

.header-padding-top{
  padding-top: 6em;
}

.centered-container{
  display:flex;
  justify-content: center;
  align-items: center;

}

.full-container{
  width: 100%;
  height: 100%;
}

.left-nav-container{
  width: 20%;
  height: 100%;
}
.right-nav-container{
  width: 20%;
  height: 100%;
}

.white{
  color: white !important;
}
.black{
  color: black !important;;
}

/* Reset CSS Settings*/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*Body*/
body{
  padding-top: 6em;
}

#slider_container{
  width: 100%;
  height: 100%;
  padding-top: 6em;
}

#slider_section{
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

/*Buttons*/
input[type="submit"].alt,
input[type="reset"].alt,
input[type="button"].alt,
button.alt,
.button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #dee1e3;
  color: #727a82 !important;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  /*Touchups, i.e. rounded corners, curser to pointer, padding, alignment etc*/
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #f6755e;
  border-radius: 4px;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  height: 3.5em;
  line-height: 3.5em;
  padding: 0 3.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  text-transform: uppercase;
}

//Lists
ol {
  list-style: decimal;
  margin: 0 0 2em 0;
  padding-left: 1.25em;
}

ol li {
  padding-left: 0.25em;
}

ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}

ul li {
  padding-left: 0.5em;
}

ul.alt {
  list-style: none;
  padding-left: 0;
}

ul.alt li {
  border-top: solid 1px #dee1e3;
  padding: 0.5em 0;
}

ul.alt li:first-child {
  border-top: 0;
  padding-top: 0;
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
}

ul.icons li:last-child {
  padding-right: 0;
}

ul.icons li .icon:before {
  font-size: 2em;
}

ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.actions li {
  display: inline-block;
  padding: 0 1em 0 0;
  vertical-align: middle;
}

ul.actions li:last-child {
  padding-right: 0;
}

ul.actions.small li {
  padding: 0 0.5em 0 0;
}

ul.actions.vertical li {
  display: block;
  padding: 1em 0 0 0;
}

ul.actions.vertical li:first-child {
  padding-top: 0;
}

ul.actions.vertical li > * {
  margin-bottom: 0;
}

ul.actions.vertical.small li {
  padding: 0.5em 0 0 0;
}

ul.actions.vertical.small li:first-child {
  padding-top: 0;
}

ul.actions.fit {
  display: table;
  margin-left: -1em;
  padding: 0;
  table-layout: fixed;
  width: calc(100% + 1em);
}

ul.actions.fit li {
  display: table-cell;
  padding: 0 0 0 1em;
}

ul.actions.fit li > * {
  margin-bottom: 0;
}

ul.actions.fit.small {
  margin-left: -0.5em;
  width: calc(100% + 0.5em);
}

ul.actions.fit.small li {
  padding: 0 0 0 0.5em;
}

@media screen and (max-width: 480px) {

  ul.actions {
    margin: 0 0 2em 0;
  }

  ul.actions li {
    padding: 1em 0 0 0;
    display: block;
    text-align: center;
    width: 100%;
  }

  ul.actions li:first-child {
    padding-top: 0;
  }

  ul.actions li > * {
    width: 100%;
    margin: 0 !important;
  }

  ul.actions li > *.icon:before {
    margin-left: -2em;
  }

  ul.actions.small li {
    padding: 0.5em 0 0 0;
  }

  ul.actions.small li:first-child {
    padding-top: 0;
  }

}

dl {
  margin: 0 0 2em 0;
}

dl dt {
  display: block;
  font-weight: 700;
  margin: 0 0 1em 0;
}

dl dd {
  margin-left: 2em;
}

//Wrapper
.wrapper {
  padding: 6em 0 4em 0;
}

.wrapper h1, .wrapper h2, .wrapper h3, .wrapper h4, .wrapper h5 {
  color: #25a2c3;
}

.wrapper.style1 {
  background: #f6755e;
  color: #fcdcd6;
}

.wrapper.style1 h1, .wrapper.style1 h2, .wrapper.style1 h3, .wrapper.style1 h4, .wrapper.style1 h5 {
  color: #fff;
}

.wrapper.style1 cite.author {
  color: #fff;
}

@media screen and (max-width: 980px) {

  .wrapper {
    padding: 6em 0 1em 0;
  }

}

@media screen and (max-width: 480px) {

  .wrapper {
    padding: 6em 0 0.1em 0;
  }

}

#one .inner {
  margin-bottom: 2em;
}

#one .flex-item {
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-pack: justify;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
}

#one .flex-item.left div:first-child, #one .flex-item.right div:first-child {
  padding-top: 1em;
}

#one .flex-item.left div:last-child, #one .flex-item.right div:last-child {
  -moz-align-self: -moz-flex-end;
  -webkit-align-self: -webkit-flex-end;
  -ms-align-self: -ms-flex-end;
  align-self: flex-end;
}

#one .flex-item.left div p, #one .flex-item.right div p {
  margin-bottom: 1em;
}

@media screen and (max-width: 1280px) {

  #one .flex-item.left div:first-child, #one .flex-item.right div:first-child {
    padding-top: 0;
  }

  #one .flex-item.left div p, #one .flex-item.right div p {
    margin-bottom: 0;
  }

}

@media screen and (max-width: 980px) {

  #one .flex-item {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  #one .flex-item.left br, #one .flex-item.right br {
    display: none;
  }

  #one .flex-item.left div:first-child, #one .flex-item.right div:first-child {
    padding-top: 0;
  }

  #one .flex-item.left div:last-child, #one .flex-item.right div:last-child {
    -moz-align-self: center;
    -webkit-align-self: center;
    -ms-align-self: center;
    align-self: center;
  }

  #one .flex-item.left div p, #one .flex-item.right div p {
    margin-bottom: 2em;
  }

}

#one .image.fit {
  margin: 0 auto;
}

@media screen and (max-width: 980px) {


}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 980px) {

  #two blockquote br {
    display: none;
  }

}

@media screen and (max-width: 980px) {

  #three {
    text-align: center;
  }

}

//Image
.image {
  border: 0;
  display: inline-block;
  position: relative;
}

.image img {
  display: block;
}

.image.left, .image.right {
  max-width: 40%;
}

.image.fit, .image.fit img {
  display: block;
  max-width: 300px;
  height: 300px;
}

.image.round img {
  border-radius: 100%;
}

.image.main {
  display: block;
  margin: 0 0 3em 0;
  width: 100%;
}
#one .flex-item {
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-pack: justify;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
}

#one .flex-item.left div:first-child, #one .flex-item.right div:first-child {
  padding-top: 1em;
}

#one .flex-item.left div:last-child, #one .flex-item.right div:last-child {
  -moz-align-self: -moz-flex-end;
  -webkit-align-self: -webkit-flex-end;
  -ms-align-self: -ms-flex-end;
  align-self: flex-end;
}

#one .flex-item.left div p, #one .flex-item.right div p {
  margin-bottom: 1em;
}

@media screen and (max-width: 1280px) {

  #one .flex-item.left div:first-child, #one .flex-item.right div:first-child {
    padding-top: 0;
  }

  #one .flex-item.left div p, #one .flex-item.right div p {
    margin-bottom: 0;
  }

}

@media screen and (max-width: 980px) {

  #one .flex-item {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  #one .flex-item.left br, #one .flex-item.right br {
    display: none;
  }

  #one .flex-item.left div:first-child, #one .flex-item.right div:first-child {
    padding-top: 0;
  }

  #one .flex-item.left div:last-child, #one .flex-item.right div:last-child {
    -moz-align-self: center;
    -webkit-align-self: center;
    -ms-align-self: center;
    align-self: center;
  }

  #one .flex-item.left div p, #one .flex-item.right div p {
    margin-bottom: 2em;
  }

  .image.fit, .image.fit img {
    display: block;
    max-width: 250px;
    height: 250px;
  }

}

@media screen and (max-width: 980px) {


  .image.fit, .image.fit img {
    display: block;
    max-width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 480px) {

  .image.fit, .image.fit img {
    display: block;
    max-width: 200px;
    height: 200px;
  }

}

@media screen and (max-width: 980px) {

  #two blockquote br {
    display: none;
  }

}

@media screen and (max-width: 980px) {

  #three {
    text-align: center;
  }

}


//Other/Basic
.inner {
  margin: 0 auto;
  max-width: 65em;
}

@media screen and (max-width: 1280px) {

  .inner {
    max-width: 90%;
  }

}

@media screen and (max-width: 980px) {

  .inner {
    max-width: 70%;
  }

}

@media screen and (max-width: 736px) {

  .inner {
    max-width: 85%;
  }

}

//Flex
.flex {
  display: -ms-flexbox;
  -ms-flex-wrap: nowrap;
  -ms-flex-pack: justify;
  -ms-flex-align: stretch;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
}

.flex.flex-3 .flex-item {
  -ms-flex: 0 1 auto;
  -ms-flex-preferred-size: 30%;
  -moz-flex-basis: 30%;
  -webkit-flex-basis: 30%;
  -ms-flex-basis: 30%;
  flex-basis: 30%;
}

.flex.flex-3 .flex-item.left {
  text-align: right;
}

@media screen and (max-width: 980px) {

  .flex {
    -ms-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .flex.flex-3 .flex-item {
    -ms-flex-preferred-size: 100%;
    -moz-flex-basis: 100%;
    -webkit-flex-basis: 100%;
    -ms-flex-basis: 100%;
    flex-basis: 100%;
  }

  .flex.flex-3 .flex-item.left {
    text-align: right;
  }

}